body{
  //background-color: yellow;
}

.social-network{
  padding :0 0 8px;
}

.nav-buyer{
  position :absolute;
  top      :-9px;
  left     :0;
  width    :120px;
  height   :41px;
  &.active{
    background-color :#373737;
    a{
      color :#fff;
    }
    i{
      @include sprite($nav-mobail-up);
    }
  }
  a{
    font-size       :14px;
    font-family     :$ff-ptr;
    color           :#546f8c;
    text-decoration :none;
    display         :inline-block;
    padding         :13px 0 9px 11px;
    i{
      margin :0 5px 0 0;
    }
  }
}

.logo-cont{
  width :50%;
}

.contacts-top{
  width   :50%;
  padding :0;
}

.phone-b{
  width      :auto;
  margin     :0;
  text-align :right;
  p{
    font-size :15px;
    float     :none;
  }
}

.basket-mobail{
  width    :100%;
  position :relative;
  &:before{
    content          :'';
    position         :absolute;
    width            :100%;
    height           :38px;
    background-color :#e4e4e4;
    left             :0;
    bottom           :0;
    display          :block;
  }
}

.basket{
  padding :11px 0 0;
  span{
    position :relative;
  }
  a{
    position :relative;
    padding  :31px 0 0 12px;
  }
}

.nav-big{
  li{
    text-align :center;
    width      :33.333%;
    margin     :0;
    span{
      display   :block;
      font-size :14px;
    }
    i{
      margin :0;
    }
    &:last-child{
      a{
        border :none;
      }
    }
  }
  a{
    padding          :5px 0;
    height           :75px;
    width            :100%;
    border-right     :1px solid #373737;
    background-image :none;
    background       :#777;
    background       :-moz-linear-gradient(top, #777 0%, #8c8c8c 40%, #8e8d8d 50%, #787878 52%, #646464 85%, #5e5e5e 100%);
    background       :-webkit-linear-gradient(top, #777 0%, #8c8c8c 40%, #8e8d8d 50%, #787878 52%, #646464 85%, #5e5e5e 100%);
    background       :linear-gradient(to bottom, #777 0%, #8c8c8c 40%, #8e8d8d 50%, #787878 52%, #646464 85%, #5e5e5e 100%);
    filter           :progid:DXImageTransform.Microsoft.gradient(startColorstr='#777777', endColorstr='#5e5e5e', GradientType=0);

    &:hover{
      background-image :none;
      background       :#fe5c2b;
      background       :-moz-linear-gradient(top, #fe5c2b 0%, #f5633b 35%, #f2633b 48%, #f16038 50%, #ee3808 52%, #e63201 71%, #d83100 100%);
      background       :-webkit-linear-gradient(top, #fe5c2b 0%, #f5633b 35%, #f2633b 48%, #f16038 50%, #ee3808 52%, #e63201 71%, #d83100 100%);
      background       :linear-gradient(to bottom, #fe5c2b 0%, #f5633b 35%, #f2633b 48%, #f16038 50%, #ee3808 52%, #e63201 71%, #d83100 100%);
      filter           :progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe5c2b', endColorstr='#d83100', GradientType=0);

    }
  }
}

.nav-mega-mobail{
  border-top :1px solid #fff;
  .item{
    &.active{
      background-color :$color-astsent;
      border-bottom    :1px solid #d73101;
    }
    &:after{
      clear   :both;
      content :"";
      display :block;
      float   :none;
      margin  :0;
      padding :0;
    }
    background-color :#096bb3;
    border-bottom    :1px solid #fff;
    strong{
      font-size   :13px;
      font-family :$ff-ptcb;
      padding     :16px 0 10px 13px;
      color       :#fff;
      display     :inline-block;
    }
    img{

    }
  }
  .down{
    display :none;
  }
}



.box-top{
  margin :0;
}

.box-bg{
  padding          :0;
  background-image :none;
}

.selection{
  padding :10px 0;
  ul{
    padding :13px 8px 0;
  }
  li{
    margin :0 0 12px 0;
  }
  .item{
    margin :13px 0 0;
  }
}

.lad-mob{
  padding :5px 0;
  a{
    margin :0;
  }
}

.wr-slid-brend{
  overflow :hidden;
  margin   :25px 5px 19px;
  padding  :0 0 50px;

}

.button-slid-prev,
.button-slid-next{
  width            :146px;
  height           :32px;
  background-color :#ececec;
  border-radius    :2px;
  top              :auto;
  bottom           :0;
  z-index          :9999;
  i{
    vertical-align :top;
    margin         :8px 0 0;
  }
}

.slid-brend{
  .swiper-slide{
    a{
      width :145px;
    }
  }
}

.brand-selection{
  width   :100%;
  padding :0 10px;
  .filter > ul > li{
    width   :100%;
    display :block;
  }
  .filter{
    .button{
      width  :100%;
      margin :20px 0 0;
    }
  }

}

.box-contents{
  h2{

    min-width :100%;
    width     :100%;
    padding   :0;
    &:before,
    &:after{
      display :none;
    }
  }
}

.footer-content{
  padding :28px 9px;

}

.footer-nav{
  width :100%;
  ul{
    width :50%;
  }
}

.footer-phone{
  width :100%;
  span{
    display    :block;
    text-align :center;
    font-size  :18px;
  }
  p{
    vertical-align :top;
    width          :48%;
    display        :inline-block;
    font-size      :11px;
    margin         :0 1px;
    padding        :10px 0 0;
    a{
      color   :$color-text;
      display :inline-block;
      padding :3px 0;
    }
  }
  .tar{
    text-align :right;
  }
  .tal{
    text-align :left;
  }
}

.nav-mini{
  display          :none;
  background-color :#373737;
  li{
    border-top :1px solid #515151;
    width      :100%;
    margin     :0;
  }
  a{
    font-size       :14px;
    text-decoration :none;
    padding         :11px 12px 10px;
    display         :block;
    &:hover{
      background-color :$color-astsent;
    }
  }
}
.nav-mega-mobail{
  .down{
    background-color :darken($color-astsent, 3%);
    a{
      display         :inline-block;
      line-height     :55px;
      text-align      :center;
      text-decoration :none;
      margin          :0 10px 0 0;
    }
  }



  .down-item{
    width :100%;
    strong{
      margin :0 0 11px;
    }

  }

  .down-top{
    background-color :$color-astsent;
    padding          :13px 13px 23px;
  }

  .down-cont{
    padding          :17px 15px;
    background-color :darken($color-astsent, 3%);
    ul{
      width :100%;
    }
    li{
      a{
        line-height :21px;
      }
    }
  }

  .down-item{
    .down-cont{
      ul{
        float :none;
        width :100%;
      }
    }
  }

  .down-top-return{
    background-color :darken($color-astsent, 3%);
    padding          :10px;
    a{
      line-height :21px;
    }
  }

  .down-item{

    .down-cont-deam{
      padding          :17px 15px;
      background-color :$color-astsent;
      ul{
        width :50%;
      }
      a{
        line-height :21px;
      }
    }
  }
}

.wr-basket{
  position :relative;
  .lebles,
  .tov-user{
    display :none;
  }
  &.active{
    .lebles,
    .tov-user{
      display :inline-block;
    }
    .tov-none{
      display :none;
    }
  }
}
.lebles{
  &.quantity{
    position :absolute;
    top: -10px;
    right: 18px;
    color :#bf170e;
    line-height :50px;
    &:hover{
      @include sprite($lebles);
    }
  }
}


.bread-crumbs {
  position: relative;
  top: 0;
  left: 0;
  text-align :left;
  margin: 18px 11px;

}

.tuning-items-v {
  margin: 10px 0;
}

.tuning-item-v{
  margin :0 auto 20px;
}

.seze-item {
  width: 100%; 
  padding: 0 5px 60px;
}

.list-sort {
  li{
    display: block;
    margin: 6px 14px;
    text-align :left;
  }
 
}
.wr-desc {
  padding: 0;
}
.hits{
  left :-14px;
}
.wr-seze {
  .item{
    padding :0 13px;
  }
  .tov-img {
    border-right: none;
    border-bottom :1px solid #c2c2c2;
    width: 100%;
    margin :0 0 10px;
  }
  .tov-description {
    width: 100%;
    margin :0;
  }
  .tov-calculator {
    width: 100%;
    padding: 0;
  }
  .box-button {
    position :relative;
    right: 0;
    left :0;
    top :0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 10px 0 40px;
    .button {
      margin: 3px 0;
      width: 48%;
    }
  }
   .button-more {
    right: -14px;
  }
}


.sort {
  border-bottom: 1px solid #e9e9e9;
  padding: 0 0 16px;
  margin: 0 0 20px;
}











.catalog-item{
  padding :10px;
}

.catalog-slid {
  width: 100%;
  min-height: 100%;
}

#thumbs {
  width :100% !important;
  div{
    width :100% !important;
  }
  img{
    margin: 5px 3px;
  }
}

.wr-tabs{
  width :100%;
}

.nav-tabs{
  a {
    width: 62px;
    padding :11px 0;
  }

}
.box-reviews {
  padding: 48px 10px 0;
}

.list-review{
  label{
    height :100%;
  }
  input,
  textarea{
    width :100%;
  }
}
.box-textar{
  width :100%;
  text-align :center; 
  .rating{
    margin :10px 0;
  }
  input[type=submit]{
    width :100%;
  }
 
}
.form-castum {
  textarea {
  }
}


.wr-castum-table {
  margin: 0;
  padding: 0 10px;
}

.mob-table{
  padding :14px 0;
}
.tabl-header{
  background-color :#49565e;
  color :#fff;
  -webkit-border-radius :2px;
  -moz-border-radius    :2px;
  border-radius         :2px;

  ul{
    border-bottom :1px solid #fff;
    padding: 8px 15px;
    text-align :left;
    &:last-child{
      border :none;
    }
    li{
      display :inline-block;
      padding :0 25px 0 0;
      font-weight :bold;
      &:last-child{
        padding :0;
      }
    }
  }
}
.tabl-title{
  background-color :#d9e4ea;
  -webkit-border-radius :2px;
  -moz-border-radius    :2px;
  border-radius         :2px;
  padding :9px;
  strong{
    font-family :$ff-ptb;
    font-size :16px;
  }
}

.mob-table{

  .tabl-content{
    &:last-child{
      .tabl-item{
        &:last-child{
          border :none;
        }
       
      }
    }

  }

}

.tabl-content{
  
  .tabl-item{
    text-align :left;
    padding :0 0 10px;
    border-bottom :1px solid #49565e;
  
  }
    a{
      font-size :12px;
      color :$color-astsent;
      padding :0 4px 0 0;
    }
    .availability{
      display :inline-block;
      min-width :80px;
      text-align :right;
      font-family :$arial;
      font-weight :bold;
    }
    .price-min{
      width :80px;
      text-align :right;
    }
    .spid{
      display :inline-block;
      width :120px;
      padding :0 0 0 9px;
    }




}
.tabl-footer{
  border-top : 1px solid #49565e;
  p{
    text-align :center;
    font-size :14px;
    font-family :$ff-ptr;
    padding :20px 0;
    margin :0;
    span{
      font-size :16px;
      color :#1c689a;
      font-family :$ff-ptb;
  
    }
  }
}




.price-min{
  background  :url('../images/price-min.png') 100% 50% no-repeat;
  display     :inline-block;
  padding     :0 15px 0 0;
  font-size   :20px;
  font-family :$ff-ptb;
}

.button-tabl{
  .button{
    color :#fff;
    width :48%;
  }
}

.img-cont{
  .img{
    width :75px;
    height :71px;
    text-align :center;
    position :relative;
    padding :20px 0 0;
    img{
      
    }
  }
  p{
    padding :28px 0 0 75px;
    margin :0;
  }
}

.pr-mob-tab{
  padding :20px 0;
  ul{

  }
  li{
    position :relative;
    display  :inline-block;
    padding  :0 16px 0 0;
    margin   :0 0 10px;
    b{
      font-size :14px;
    }
    &:last-child{
      padding :0;
    }
  }
}





.disk-form-v{
  width :100%;
  margin :0;
  &:before,
  &:after{
    display :none;
  }
}


.tabs-shem{
  min-height: 270px;
}
.tabs-shem-nav{
  li{
    width :48%;
    display :inline-block;
    &.active{
      a{
        color :#fff;
        background-color :#49565e;
      }
    }
  }
  a{
    display :inline-block;
    width :100%;
    background-color :#d9e4ea;
    text-align :center;
    padding :4px;
    text-decoration :none;
    @include transition(all 0.5s $ease-out-cubic);
  }
}
.tabs-shem-cont{
  padding :10px;
  width :100%;
  img{
    width :100%;
  }
  
}
.select-r-v,
.select-l-v{
  width :100%;
  padding :0 10px;
}

.disk-but-v{
  border :none;
  padding :0 10px;
  margin :20px 0 32px;
  a{
    width :100%;
  }
}

.brand-v {
  width :100%;
  padding :20px 10px;
  margin :0;
  text-align: left;
  ul{
    li{
      width :48%;
      margin :5px 0;
    }
  }

}



.brands {
  padding: 34px 10px 0;
}
.brand-box-v{
  width :100%;
  padding :0;
}

.sezone {
  label {
    width: 100%;
  }
}
.cooper-box {
  padding: 0 10px;
}

.brand-item {
  .item {
    width: 100%;
  }
}
.wr-seze {
  .item{
    min-height :100%;
  }
  .button-more {
    right: 0;
  }
}

.brand-item {
  .item {
    .content {
      margin: 0 ; 
      width: 100%;
      padding: 0 0 50px;
      .numb-disk {
        margin-top: 20px;
      }
    }
    img {
      margin: 21px 0 0;
    }
  }
}

.tec{
  text-align :center!important;
}


.remove-mob{
  display :inline-block;
}

.wr-castum-table {
  .add-review {
    margin-top: 0;
    padding :0;
  }
}
.form-castum {
  .jq-selectbox {
    width: 100%;
  }
}


.br-center {
  padding: 20px 0;
  margin: 0;
  .button{
    width :100%;
  }
}








